<div>
  <div class="background">
    <img src="assets/images/profile.png">    
    <form [formGroup]="profileForm" >

      <div class="comp_perfil"> 
        <font size="+3"> Nome: </font> 
        <input 
          formControlName="name"
          name="newName" 
          type="text" 
          value="{{this.name}}"
          > 
      </div><br>

      <div class ="comp_perfil"> 
        <font size="+3">Telefone: </font> 
        <input 
        name="newTelefone" 
        formControlName="telefone"
        type="text" 
        value="{{this.telefone}}"
        > 
      </div><br>

      <div class ="comp_perfil"> 
        <font size="+3">Métodos de Pagamento: </font> 
        <input 
        formControlName="metodo_pag"
        name="new_metodosPag" 
        type="text" 
        value="{{this.metodos_pag}}"
        >  
      </div><br>

      <div class="comp_perfil"> 
        <font size="+3">Endereço (lista): {{this.enderecos[0]}}</font> 
      </div><br>   
      
      
      <h2> Confirme a senha para atualizar dados </h2> 
      <input
        formControlName="password"
        name="password"
        type="text"  
        placeholder="confirme a senha para alterar" 
        required>
      <div class="msg-erro">
        <span *ngIf="!acertouCheck">Senha incorreta!</span>
      </div>
      <button
        class="buttom-medium"
        type="submit"
        (click) ="confirmPassword()"
        [disabled]="!profileForm.valid"
      >
      Confirmar
      </button>
    </form>
  </div>
</div>

