<div class="background">
  <div class="options">
    <a *ngIf="!editando" (click)="changeEdit()"> <p class="edit"> editar dados </p> </a>
    <a *ngIf="editando" (click)="validate()"> <p class="save"> salvar alterações </p> </a>
    <a> <p class="delete"> deletar conta </p> </a>
  </div>
  <div class="content">
    <div class="pic">
      <img src="assets/images/profile1.png"> 
    </div>
    <div class="items">
      <div class="item">
        <label>Nome: </label>
        <input id="client-name-input" [(ngModel)]="client.name" [disabled]="!editando">
        <div class="msg-erro">
          <p *ngIf="erro['name']" >
            Forneça um nome válido.
          </p>
        </div>
      </div>
      <div class="item">
        <label>CPF: </label>
        <input id="client-cpf-input" [(ngModel)]="client.cpf" [disabled]="!editando">
        <div class="msg-erro">
          <p *ngIf="erro['cpf']" >
            Forneça um cpf válido.
          </p>
        </div>
      </div>
      <div class="item">
        <label>E-mail: </label>
        <input id="client-email-input" [(ngModel)]="client.email" [disabled]="!editando">
        <div class="msg-erro">
          <p *ngIf="erro['email']" >
            Forneça um email válido.
          </p>
        </div>
      </div>
      <div class="item">
        <label>Telefone: </label>
        <input id="client-phone-input" [(ngModel)]="client.phone" [disabled]="!editando">
        <div class="msg-erro">
          <p *ngIf="erro['phone']" >
            Forneça um telefone válido.
          </p>
        </div>
      </div>
      <div class="item">
        <label>Método de Pagamento: </label>
        <select [(ngModel)]="pay_method" (change)="changePayMethod(pay_method)" [disabled]="!editando">
          <option *ngFor="let method of pay_methods" 
              [value]="method[1]" >
            {{ method[0] }}
          </option>
        </select>
      </div>
      <div class="item">
        <label>Endereços: </label>
        <select [(ngModel)]="addressIndex" (change)="changeAddress(addressIndex)" [disabled]="!editando || addAddress">
          <option *ngFor="let ad of client.addresses; let i = index" 
              [value]="i" >
            {{ad.name}}
          </option>
        </select>
        <a *ngIf="editando && !addAddress" (click)="newAddress()"> 
          <i class="fa-solid fa-plus"></i> 
        </a>
        <a *ngIf="editando && addAddress" (click)="validateAddress(true)"> 
          <i class="fa-solid fa-floppy-disk"></i> 
        </a>
        <div class="address" *ngIf="client.addresses.length">
          <div class="item">
            <label>Nome: </label>
            <input [(ngModel)]="address.name" [disabled]="!editando">
            <div class="msg-erro">
              <p *ngIf="erro['address-name']" >
                Já existe um endereço com esse nome.
              </p>
            </div>
          </div>
          <div class="item">
            <label>CEP: </label>
            <input [(ngModel)]="address.postal_code" [disabled]="!editando">
            <div class="msg-erro">
              <p *ngIf="erro['address-code']" >
                Forneça um CEP válido.
              </p>
            </div>
          </div>
          <div class="item">
            <label>Logradouro: </label>
            <input [(ngModel)]="address.address" [disabled]="!editando">
            <div class="msg-erro">
              <p *ngIf="erro['address-address']" >
                Forneça um logradouro válido.
              </p>
            </div>
          </div>
          <div class="item">
            <label>Número: </label>
            <input [(ngModel)]="address.number" [disabled]="!editando">
            <div class="msg-erro">
              <p *ngIf="erro['address-number']" >
                Forneça um número válido.
              </p>
            </div>
          </div>
          <div class="item">
            <label>Bairro: </label>
            <input [(ngModel)]="address.district" [disabled]="!editando">
            <div class="msg-erro">
              <p *ngIf="erro['address-district']" >
                Forneça um bairro válida.
              </p>
            </div>
          </div>
          <div class="item">
            <label>Cidade: </label>
            <input [(ngModel)]="address.city" [disabled]="!editando">
            <div class="msg-erro">
              <p *ngIf="erro['address-city']" >
                Forneça uma cidade válida.
              </p>
            </div>
          </div>
          <div class="item">
            <label>Estado: </label>
            <input [(ngModel)]="address.state" [disabled]="!editando">
            <div class="msg-erro">
              <p *ngIf="erro['address-state']" >
                Forneça um estado válido.
              </p>
            </div>
          </div>
          <div class="item">
            <label>Complemento: </label>
            <input [(ngModel)]="address.complement" [disabled]="!editando">
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="modal" *ngIf="modal">
  <div class="content-modal">
    <div class="header">
      <h1>Editar conta</h1>
    </div>
    <div class="body">
      <h2>Confirme sua senha</h2>
      <input placeholder="********" [(ngModel)]="psw" type="password">
      <div *ngIf="wrongPsw" class="msg-erro">
        <span>Senha incorreta!</span>
      </div>
      <div *ngIf="rightPsw" class="msg-erro">
        <span>Senha correta!</span>
      </div>
    </div>
    <div class="buttons">
      <button (mouseover)="hoverCancel = true" (mouseleave)="hoverCancel = false"
        [ngStyle]="{backgroundColor: hoverCancel === true  ? '#ffffff' : '#C4C4C4',
                    color: hoverCancel === true  ? '#C4C4C4' : '#ffffff'}"
                    (click)="closeModal()">
                     Cancelar</button>
      <button (mouseover)="hoverConfirm = true" (mouseleave)="hoverConfirm = false"
      [ngStyle]="{backgroundColor: hoverConfirm === true  ? '#ffffff' : '#e93574',
                  color: hoverConfirm === true  ? '#e93574' : '#ffffff'}"
                  (click)="checkPassword()" >
                  Confirmar</button>
    </div>
  </div>
  <div (click)="closeModal()" class="overlay"></div>
</div>
