<div>
  <div class="background">

    <img src="web-app/src/assets/images/profile.jpg">

    <div class="comp_perfil"> <font size="+3"> Nome: {{this.name}} </font> <br></div>

    <div class ="comp_perfil"> <font size="+1">Telefone: {{this.telefone}} </font> <br></div>

    <div class ="comp_perfil"> <font size="+1">Métodos de Pagamento {{this.metodos_pag}} </font> <br></div>

    <div class="comp_perfil"> <font size="+1">Endereço (lista): {{this.enderecos[0]}}</font> <br></div>

  </div>
</div>

