<table>
   <tr>
     <td><label>Restaurant Name </label></td>
     <td><input id="restaurant-Name-input" [(ngModel)]="order.restaurantName" ></td>
     <td><button id="register-order" (click)="createOrder(order)">Adicionar</button></td>
   </tr>
   <tr>
     <td><label>Items </label></td>
     <td>
        <table>
          <tr>
            <td><label>Quantidade</label></td>
            <td><input id="items-qt-input" [(ngModel)]="item.qt" ></td>
            <td><button id="register-item" (click)="createItem(item)">Adicionar</button></td>
          </tr>
          <tr>
            <td><label>Descrição</label></td>
            <td><input id="items-description-input" [(ngModel)]="item.description" ></td>
          </tr>
          <tr>
            <td><label>Preço</label></td>
            <td><input id="items-price-input" [(ngModel)]="item.price" ></td>
          </tr>
        </table>
     </td>
   </tr>
   <tr>
      <td><label>Created At </label></td>
      <td><input id="created-At-input" [(ngModel)]="order.created_at" ></td>
   </tr>
</table>

<button id="delete-all" (click)="deleteAllOrders()">Deletar</button>
