<form *ngIf="!enviouFormsRegister" [formGroup]="registrationForm">
   <div class="title-container">
     <img src="assets/images/logo_80.png" alt="Logo" class="logo" />
     <h3>foMiau</h3>
   </div>

 
   <div class="container">
      <div class="item">
         <label for="name">Nome completo</label>
         <input 
         formControlName="name"
         type="text" 
         id="name" 
         name="name" 
         required
         >
         <div class="msg-erro">
          <small *ngIf="(registrationForm.get('name')!.invalid && registrationForm.get('name')!.touched)" >
            Forneça um nome valido.
          </small>
        </div>
      </div>

      <div class="item">
         <label for="cpf">CPF</label>
         <input [class.is-invalid] = "registrationForm.get('cpf')!.invalid && registrationForm.get('cpf')!.touched"
         formControlName="cpf"
         type="text" 
         id="cpf" 
         name="cpf" 
         placeholder="99999999911" 
         required>

         <div class="msg-erro">
          <small *ngIf="(registrationForm.get('cpf')!.invalid && registrationForm.get('cpf')!.touched)" >
            Forneça um cpf valido.
          </small>
        </div>
      </div>
      
      <div class="item">
         <label for="phone">Telefone</label>
         <input 
         formControlName="phone"
         type="text" 
         id="phone" 
         name="phone" 
         placeholder="(XX)9XXXX-XXXX" 
         required>

         <div class="msg-erro">
          <small *ngIf="(registrationForm.get('phone')!.invalid && registrationForm.get('phone')!.touched)" >
            Forneça um número valido.
          </small>
        </div>
      </div> 

     <div class="item">
       <label for="email">E-mail</label>
       <input [class.is-invalid] = "registrationForm.get('email')!.invalid && registrationForm.get('email')!.touched"
         formControlName="email"
         type="email"
         name="email"
         placeholder="nome@email.com.br"
         required
       />
       <div class="msg-erro">
        <small *ngIf="(registrationForm.get('email')!.invalid && registrationForm.get('email')!.touched)" >
          Forneça um email valido.
        </small>
      </div>
     </div>
     <div class="item">
       <label for="password">Senha</label>
       <input [class.is-invalid] = "registrationForm.get('password')!.invalid && registrationForm.get('password')!.touched"
         formControlName="password"
         type="password"
         name="password"
         placeholder="•••••••••"
         required
       />
       <div class="msg-erro">
        <small *ngIf="(registrationForm.get('password')!.invalid && registrationForm.get('password')!.touched)" >
          A senha precisa ter pelo menos
        </small>
        <small *ngIf="(registrationForm.get('password')!.invalid && registrationForm.get('password')!.touched)" >
          - 8 caracteres
        </small>
        <small *ngIf="(registrationForm.get('password')!.invalid && registrationForm.get('password')!.touched)" >
          - 1 letra maiúscula
        </small>
        <small *ngIf="(registrationForm.get('password')!.invalid && registrationForm.get('password')!.touched)" >
          - 1 número
        </small>
      </div>
     </div> 

     <div class="item">
      <label for="confirm_password">Confirme sua senha</label>
      <input
        formControlName="confirm_password"
        type="password"
        name="confirm_password"
        placeholder="•••••••••"
        required
      />
      <div class="msg-erro">
        <small *ngIf="passwordMismatch" >
          As senhas são diferentes.
        </small>
      </div> 
      
    </div> 

     <div class="item">
       <button
         class="button-medium"
         type="submit"
         (click)="createClient()"
         [disabled]="!registrationForm.valid"
       >
         Continuar
       </button>
       
     </div>
   </div>
 </form>




<form *ngIf="showFormsConfirm" [formGroup]="confirmNumberForm">
  <div class="title-container">
    <img src="assets/images/logo_80.png" alt="Logo" class="logo" />
    <h3>foMiau</h3>
  </div>


  <div class="container">
     <div class="item">
        <label for="name">Código de confirmação</label>
        <input 
        formControlName="code"
        type="text" 
        id="code" 
        name="code" 
        required
        
        >
     </div>

     

    <div class="button">
       <button
       class="button-medium"
       type="submit"
       
       
     >
       Voltar
     </button>

      <button
        class="button-medium"
        type="submit"
        (click)="confirmPhoneNumber()"
        name="continuar-code"
        
      >
        Continuar
      </button>
      
    </div>

  </div>
</form>
