.header {
  position: absolute;
  top: 25%;
  left: 50%;
  padding: 20px;
  margin-right: -50%;
  align-content: center;

  transform: translate(-50%, -50%);

  height: 30px;
  width: 800px;

  border-radius: 20px;
  background-image: linear-gradient(#e93574, #ff5200);

  display: grid;  
}
.title {
  color: white;
  text-align: center;
  font-family: ABeeZee Regular;
}

.container {
  display: grid;
  position: absolute;
  border-radius: 20px;
  top: 32%;
  left: 50%;
  padding: 20px;
  margin-right: -50%;
  align-content: center;
  transform: translate(-50%);
  

  height: 500px;
  width: 800px;
  background-color: #f7c3aa;
}

.background {
  position: absolute;
  height: 600px;
  left: 50%;
  top: 5%;

  display: grid;
  row-gap: 10px;
}

.buttons {
  position: absolute;
  top: 5%;
  left: 50%;
  padding: 10px;
  margin-right: -50%;
  align-content: center;
  transform: translate(-50%, -50%);
  height: 30px;
  width:680px;
  justify-content: center;
  align-content: center;
  display:flex;
  column-gap: 5px;
}

.back {
  position: absolute;
  align-content: left;
  justify-content: left;
  margin-left: 9%;
  top: 2%;

}

.h {
  font-size: 20px;
  color:black;
}

.h2 {
  font-size: 18px;
  color: black;
}

h3 {
  font-family: ABeeZee Regular;
}

.details {
  color: #e93574;
  position: absolute;
  top: 10%;
  height: 200px;
  padding: 20px;
  display: grid;
  row-gap: 5px;
  width: 750;
  justify-content: left;
  align-items: left;
}

.pedido {
  height: 100px;
  width: 750px;
  border: 0px;
  background-color: #f3ad8c;
  border-radius: 10px;
  text-decoration: none;
  font-family: ABeeZee Regular;
  font-size: 20px;
  color:#e93574;
  align-items: left;

  /* box-shadow: 0px 0px 3px 0px #e93574; */
}

.pedido:hover:enabled {
  background-color: #f1966b;
  box-shadow: 0px 0px 3px 0px #f1966b;
}

.button-order:disabled {
  background-color: #ff5200;
  color: #ffff;
  border: none;
  box-shadow: none;
}

.item {
  position: absolute;
  top: 20%;
  display: grid;
  row-gap: 5px;
  width: 100%;
  justify-content: left;
  align-items: left;
}
