.container1 {
    position: absolute;
    top: 20%;
    left: 25%;
    height: 500px;
    width: 450px;
    
    transform: translate(-50%, 0%);

    border-radius: 20px;
    background: #F7C3AA;
}

.titulo1 {
    position: absolute;
    top: 20%;
    left: 25%;
    height: 55px;
    width: 450px;
    
    transform: translate(-50%, 0%);

    border-radius: 20px;
    background: -webkit-linear-gradient(#e93574, #ff5200);
}

.container2 {
    position: absolute;
    top: 20%;
    left: 75%;
    height: 500px;
    width: 450px;
    
    transform: translate(-50%, 0%);

    border-radius: 20px;
    background: #F7C3AA;
}

.titulo2 {
    position: absolute;
    top: 20%;
    left: 75%;
    height: 55px;
    width: 450px;
    
    transform: translate(-50%, 0%);

    border-radius: 20px;
    background: -webkit-linear-gradient(#e93574, #ff5200);
}

.container3 {
    position: absolute;
    top: 122.5%;
    left: 25%;
    height: 500px;
    width: 450px;

    transform: translate(-50%, 0%);
    
    border-radius: 20px;
    background: #F7C3AA;
}

.titulo3 {
    position: absolute;
    top: 122.5%;
    left: 25%;
    height: 55px;
    width: 450px;

    transform: translate(-50%, 0%);
    
    border-radius: 20px;
    background: -webkit-linear-gradient(#e93574, #ff5200);
}

.container4 {
    position: absolute;
    top: 122.5%;
    left: 75%;
    height: 500px;
    width: 450px;
    
    transform: translate(-50%, 0%);

    border-radius: 20px;
    background: #F7C3AA;
}

.titulo4 {
    position: absolute;
    top: 122.5%;
    left: 75%;
    height: 55px;
    width: 450px;
    
    transform: translate(-50%, 0%);

    border-radius: 20px;
    background: -webkit-linear-gradient(#e93574, #ff5200);
}

