<div class="filter">
    <input placeholder="{{period}}" [matDatepicker]="dp" (click)="openDatePicker(dp)">
    <mat-datepicker-toggle [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp startView="year" (monthSelected)="closeDatePicker($event, dp)"></mat-datepicker>
</div>

<!-- Caso tenham pedidos -->

<div class="graficos" *ngIf="ordered" > 
    <div class="container" >
        <div class="titulo" ></div>
        <echarts [initOpts]="initOpts" [options]="optionsRestauranteCusto"></echarts>
    </div>

    <div class="container" >
        <div class="titulo" ></div>
        <echarts [initOpts]="initOpts" [options]="optionsCompraCusto"></echarts>
    </div>
    
    <div class="container" >
        <div class="titulo" ></div>
        <echarts [initOpts]="initOpts" [options]="optionsRestauranteFreq"></echarts>
    </div>
    
    <div class="container" >
        <div class="titulo" ></div>
        <echarts [initOpts]="initOpts" [options]="optionsCompraFreq"></echarts>
    </div>
</div>

<!-- Caso não tenham pedidos -->
<div class="semPedidos" *ngIf="!ordered">
    <img src="assets/images/cryingCat.png" alt=":(">
    <h3>Parece que você não comprou nada esse mês</h3>
</div>

<div class="total">
    <content>
        <h3>Custo total: </h3> 
        <h2>R${{data.total_spent}}</h2>
    </content>
</div>

