.filter {
    display: flex;
    margin: 80px auto;
    justify-content: right;
    width: 1200px;
}

.filter input {
    width: 240px;
    font-family: 'ABeeZee Regular';
    padding: 0 25px;
    font-size: x-large;
    border: none;
    background: -webkit-linear-gradient(#e93574, #ff5200);
    border-radius: 10px 0 0 10px;
}

::placeholder {
    color: #ffffff;
}

.filter mat-datepicker-toggle {
    background: -webkit-linear-gradient(#e93574, #ff5200);
    color: #ffffff;
    border-radius: 0 10px 10px 0;
}

.graficos {
    margin: 80px auto;
    width: 1200px;
    display: grid;
    grid-template-columns: auto auto;
    grid-row: auto auto;
    grid-column-gap: 300px;
    grid-row-gap: 200px;
    padding-bottom: 10px;
}

.total {
    display: flex;
    margin: 50px auto;
    justify-content: left;
    width: 1200px;
}

.total content{
    width: 240px;
    padding: 0 25px;
    border: none;
    background: -webkit-linear-gradient(#e93574, #ff5200);
    border-radius: 10px;
}

.semPedidos{
    display: flex;
    margin: 80px auto;
    justify-content: center;
    width: 1200px;
}

.semPedidos content{
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@media (max-width: 1200px) {
    .filter {
        width: 450px;
        justify-content: center;
    }

    .graficos {
        width: 450px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 450px;
        grid-row: auto;
        grid-column-gap: 0;
        grid-row-gap: 200px;
    }
    .semPedidos{
        width: auto;
        justify-content: center;
    }

    .total {
        width: 450px;
        justify-content: left;
    }

}

.container {
    border-radius: 20px;
    background: #F7C3AA;
}

.titulo {
    position: absolute;
    height: 55px;
    width: 450px;

    border-radius: 20px;
    background: -webkit-linear-gradient(#e93574, #ff5200);
}

echarts {
    position: revert !important;
}

h3 {
    margin: 0;
    font-family: Cherry Bomb One Regular;
    font-size: 32px;
    color: #000000;
}

h2 {
    margin: 0;
    font-family: 'ABeeZee Regular';
    font-size: 32px;
    color: #ffffff;
}  