<form *ngIf="!mudouSenha" [formGroup]="form" name="update-password">
   <div class="title-container">
     <h3>foMiau</h3>
     <p>Pelo menos 8 caracteres contendo pelo menos 1 é número e 1 letra maiúscula</p>
   </div>
 
   <div class="container">
      <div class="item">
         <label for="psw">Digite sua nova senha</label>
         <input
           formControlName="password1"
           type="password"
           name="psw1"
           placeholder="•••••••••"
           required
         />
         <div class="msg-erro">
            <span *ngIf="errouSenha.format" name="wrong-format">Sua senha não atende todas as exigências.</span>
          </div>
       </div>
     <div class="item">
       <label for="psw">Repita sua nova senha</label>
       <input
         formControlName="password2"
         type="password"
         name="psw2"
         placeholder="•••••••••"
         required
       />
       <div class="msg-erro">
         <span *ngIf="errouSenha.equals" name="wrong-equals">Senhas não coincidem.</span>
       </div>
     </div>
     <div class="item">
       <button
         class="button-medium"
         type="submit"
         (click)="update()"
         [disabled]="!form.valid"
       >
         Redefinir
       </button>
     </div>
   </div>
 </form>

 <div *ngIf="mudouSenha" class="box" name="msg-success">
   <div class="title-container">
       <h3>foMiau</h3>
       <p>Sua senha foi alterada com sucesso!</p>
   </div>
   <div class="container">
       <div class="item-button">
         <button
             class="button-medium"
             [routerLink]="'../login'"
             name="continue"
         >
             Continuar
         </button>
       </div>
     </div>
</div>
 
   